.landing {
  border: 2px solid red;
  border-radius: 0.25rem;
  padding: 1rem 4rem 2rem 4rem;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.landing > h2 {
  margin-bottom: 1rem;
}

#options {
  display: flex;
  margin-bottom: 1.5rem;
  flex-direction: column;
}

#options input{
  width: 4rem;
  text-align: center;
  border: 1px solid gray;
  border-radius: 0.25rem;
}

#options input{
  text-align: center;
  border: 1px solid gray;
}

.button {
  font-size: 1.25rem;
  background-color: rgb(0, 132, 255);
  color: white;
  padding: 0.5rem 0.5rem;
  border-radius: 0.25rem;
  border: 1px solid transparent;
  transition: background-color 0.5s ease-in-out;
  font-weight: bold;
  font-family: 'Play', sans-serif;
  margin-bottom: 1rem;
}

.button:hover {
  cursor: pointer;
  background-color: transparent;
  border-color: rgb(0, 132, 255);
}
