body {
  background: black;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Indie Flower', cursive;
  text-align: center;
  min-width: fit-content;
}