body {
  background: black;
  color: #ffffff;
  justify-content: center;
  align-items: center;
  font-size: 36px;
  font-family: 'Shadows Into Light', cursive;
  text-align: center;
  min-width: fit-content;
}

.container {
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
}